*{
    margin-top: 6vh;
}
.title{
    font-family: Menlo, sans-serif;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
}

a{  font-family: Menlo, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    text-decoration: none;
}

ul{
    text-align: center;
    color: black;
    padding:0;
}

ul:hover{
    color: #1500ff;
}

nav{
    display: flex;
    justify-content: center;
    padding:0;
}