*{
    margin-top: 6vh;
}
.title{
    font-family: Menlo, sans-serif;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
}

h1{
    font-family: Menlo, sans-serif;
    font-weight: 400;
}

a{
    font-family: Menlo, sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}

a:hover{
    color: #1500ff;
}

nav{
    display: flex;
    justify-content: center;
}